<form  id ="form1" onsubmit="return upload();" class="row flex-center margin" style="height: 30px;">
    <input type="file" name = "photoImg" value="请选择图片" id="photo">
    <input type="submit" value="发送图片">
</form>