<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="./css/index.css">
    <script>
        window.onload = function () {
            var socket = io();
            var btn = document.getElementById("send");
            btn.onclick = function () {
                var text = document.getElementById("m").value;
                socket.emit("chatroom", text);
                return false;
            }
            socket.on("chatroom", async (data) => {
                if(data.msg == "msg"){
                    let ul = document.getElementsByTagName("ul")[0];
                    let li = document.createElement("li");
                    var d = new Date;
                    var time = d.getHours() +":"+d.getMinutes()+":"+d.getSeconds();
                    li.innerHTML = "用户："+data.user+"在"+time+"说" +  data.Data;
                    ul.appendChild(li);
                }
                if(data.msg == "join"){
                    var ul = document.getElementsByTagName("ul")[0];
                    var li = document.createElement("li");
                    var d = new Date;
                    var time = d.getHours() +":"+d.getMinutes()+":"+d.getSeconds();
                    li.innerHTML = "用户："+data.user+"在"+time+"加入";
                    ul.appendChild(li);
                    console.log(data.userList);
                    await nowUserList(data.userList);
                }
                if(data.msg == "left"){
                    var ul = document.getElementsByTagName("ul")[0];
                    var li = document.createElement("li");
                    var d = new Date;
                    var time = d.getHours() +":"+d.getMinutes()+":"+d.getSeconds();
                    li.innerHTML = "用户："+data.user+"在"+time+"离开";
                    ul.appendChild(li);
                    await nowUserList(data.userList);
                }
            })

        }
        async function nowUserList (list){
            let ul = document.getElementById("userList");
            ul.innerHTML = "<li style='font-weight: bold;''>当前用户</li>";
            
            for(var i = 0 ; i < list.length ; i ++){
                let li = document.createElement("li");
                li.innerText = list[i];
                ul.appendChild(li);
            }
            
        }
    </script>
</head>
<body>
    <h1>Chatroom聊天室</h1>
    <hr>
    <div id="chatmain">
        <div id = "box1">
            <ul id = "chatList"></ul>
        </div>
        <ul id = "userList">
            <li style="font-weight: bold;">当前用户</li>
        </ul>
    </div>
    <hr>
    <div id="optionMain">
        <textarea id="m"></textarea>
        <button id="send">Send</button>
    </div>
    
</body>
</html>