<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/paper.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"
        integrity="sha512-c3Nl8+7g4LMSTdrm621y7kf9v3SDPnhxLNhcjFJbKECVnmZHTdo+IRO05sNLTH/D3vA6u1X32ehoLC7WFVdheg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./js/client.js"></script>
</head>

<body>
    <div class="paper row margin-top-small" id="header">
        <h4 class="col-3 col">Chatroom聊天室</h1>
            <h5 class="clo-9 col">当前用户为：<span id="userName"></span></h2>
    </div>
    <hr>
    <div class="paper con">
        <div id="chatmain" class="row flex-spaces border shadow">
            <div id="box1" class=" col-8 col border">
                <ul id="chatList"></ul>
            </div>
            <div id="box2" class="col-3">
                <ul id="userList">
                    <li style="font-weight: bold;">当前用户</li>
                </ul>
            </div>
        </div>
        <hr>
        <div id="optionMain" class="row flex-center border margin">
            <%- include('imgs') %>
                <textarea id="m" class="margin"></textarea>
                <button id="send">Send</button>
        </div>
        <div class="row flex-center">
            <p>2021@powered by Codecat</p>

        </div>
    </div>

</body>

</html>